@keyframes attention {
  55% {
    box-shadow: 0 0 0px var(--primary-color);
  }
  70% {
    box-shadow: 0 0 9px var(--secondary-color);
  }
  85% {
    box-shadow: 0 0 0px var(--primary-color);
  }
}

.attention {
  animation-name: attention;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.appNav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 60px;
  text-align: center;
  background-color: #072C4F;
}

.appNavUl {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.appNavLi {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 4px;
}

.appNavImg {
  padding: 10px;
  width: 36px;
  height: 36px;
}

.appHelpImg {
  padding: 10px;
  width: 36px;
  height: 36px;
}

.appNavImg:hover {
  background-color: #081c42;
}

.appHelpImg:hover {
  background-color: #081c42;
}